<%
import model
import common
%>
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Insight Printer Admin</title>
    <style type="text/css">
        body {
            font-family: sans-serif;
            font-size: 10pt;
        }
        h2 {
            font-family: Verdana;
        }
        table, td, th { 
            border: 1px solid #ccc;
            padding: 4px;
        }
        table {
            width: 90%;
        }
        table {
            border-collapse: collapse;
        }
        .mono {
            font-family: monospace;
        }
        a {
            color: #333;
        }
    </style>
</head>
<body>


<h2>Switch</h2>

% if service_enabled:
<p>Service is turned <span style="color: green;">ON</span>. <a href="main?action=stop">Stop.</a></p>
% else:
<p>Service is turned <span style="color: red;">OFF</span>. <a href="main?action=start">Start.</a></p>
% endif

<h2>Printer setup</h2>


<form action="main">
    <input type="hidden" name="action" value="update_list">
<textarea rows="8" cols="100" name="printer_list">
    % for t in session.query(model.DbPrinterChoosingRule):
${t.hostname_regexp} ${t.printer}
    % endfor
</textarea>
    <br>
    <input type="submit" value="Submit">
</form>

<h2>Printouts</h2>

<table>
<thead>
    <tr>
        <th>id</th>
        <th>IP address</th>
        <th>Hostname</th>
        <th>Timestamp</th>
        <th>Length</th>
        <th>Printer Name</th>
        <th>Last printed on</th>
        <th>Reprint</th>
    </tr>
</thead>
<tbody>
% for po in session.query(model.DbPrintout):
    <tr>
        <td><a href="${'data/{:05d}.txt'.format(po.id)}">${po.id}</a></td>
        <td>${po.ip_address}</td>
        <td>${po.hostname}</td>
        <td>${po.timestamp.strftime('%d.%m.%Y %H:%M:%S')}</td>
        <td>${po.length}</td>
        <td style="color: ${'red' if po.cur_printer is None else 'black'};" class="mono">${po.cur_printer}</td>
        <td style="background-color: ${'#fcc' if po.used_printer is None else '#cfc'};" class="mono">${po.used_printer}</td>
        <td><a href="main?action=reprint&amp;printout_id=${po.id}">Reprint</a></td>
    </tr>
% endfor
</tbody>
</table>

</body>
</html>
