a {
	color: rgb(34,90,141);
	text-decoration: none;
	font-size: 11px;
	font-family: Verdana, Sans-Serif;
}

BODY { margin: 0px; }

.header a {
	color: #ffffff;
	font-size : x-small;
	font-family: Arial, sans-serif;
}

.headerTable {
       height : 25px;
}

.mainMenu {
	color: #ffffff;
	width : 100%;
	height: 20px;
	background-color :rgb(34,90,141);
	font-size: 11px;
	font-family: Verdana, Sans-Serif;
}

.mainMenu a {
	color: white;
	text-decoration: none;
	font-size: 11px;
	font-family: Verdana, Sans-Serif;
	margin-top: 0;
	margin-bottom: 0;
	margin-left : 5;
	margin-right : 5;
}

.subMenu {
	color: black;
	background-color : #b2cbe2;
	width : 100%;
}

.topleft a {
	color: rgb(34,90,141);
	text-decoration: none;
	font-size: 11px;
	font-family: Verdana, Sans-Serif;
}

.topleft {
	text-decoration: none;
	font-size: 11px;
	font-family: Verdana, Sans-Serif;
}


.subMenu a {
	color: black;
	text-decoration: none;
	font-size: 11px;
	font-family: Verdana, Sans-Serif;
	font-weight: bold;
}


.formtitle { font-size: 17px; font-weight: bold; font-family: Arial, sans-serif; margin: 0 0 0 0; color: #003366; }

H1 { font-weight: bold; font-size: 24px; font-family: Arial, Sans-Serif; margin-bottom: 0px; }

.FormLoginBox {
	font-family: Verdana;
	font-size: 10px;
	width: 130px;
	border: thin solid #225a8d;
	margin-bottom: 2px;
	margin-left: 8px;
}

#editor {
	margin : 5;
}

form {margin: 0px}


.line {
	FONT: 2px tahoma, arial, helvetica, sans-serif; BACKGROUND-COLOR: #336699
}

.left-navigation {
	FONT: 8pt tahoma, arial, helvetica, sans-serif; COLOR: #000000; BACKGROUND-COLOR: #336699; TEXT-DECORATION: none
}
.left-subnavigation {
	FONT: 8pt tahoma, arial, helvetica, sans-serif; COLOR: #000000; BACKGROUND-COLOR: #5286b8; TEXT-DECORATION: none
}
.leftnav-active {
	FONT: 8pt tahoma, arial, helvetica, sans-serif; COLOR: #000000; BACKGROUND-COLOR: #ffffff; TEXT-DECORATION: none
}


A.sap-leftnav-links {
	COLOR: #ffffff; TEXT-DECORATION: none
}

A.sap-leftnav-links:visited {
	COLOR: #ffffff; TEXT-DECORATION: none
}

A.sap-leftnav-links:hover {
	FONT-WEIGHT: normal; COLOR: #ffffff; TEXT-DECORATION: none
}

A.sap-leftnav2-links {
	COLOR: #000000; TEXT-DECORATION: none
}

A.sap-leftnav2-links:visited {
	COLOR: #000000; TEXT-DECORATION: none
}

A.sap-leftnav2-links:hover {
	FONT-WEIGHT: normal; COLOR: #000000; TEXT-DECORATION: none
}

.navigator a { 
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 12px; 
	color: #003463; text-decoration: none; 
}

.navigator a:hover { 
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 12px; 
	color: #003463; 
	text-decoration: underline; 
}

.navigator a:active { 
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 12px; 
	color: #003463; 
}

p.passive{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #8B8B8B;
    text-decoration: none;
    padding-right: 5px; padding-left: 5px
}


.large-button {
	border: 1px outset #032600;
	font-family: Verdana, Arial, Helvetica;
	font-size: 110%;
        width:100px;
        margin:2px;
}

.button {
    FONT-SIZE: 12px;
    FONT-FAMILY: verdana,arial, helvetica, sans-serif;
    background-color : #FFFFFF;
    font-weight : bold;
    color : #003463;
    background-repeat : repeat-x;
}

.navigator {
	border-bottom: 1px solid #B4B4B4;
	background-color : #FFFFFF;
        font-size: 10pt; 
	color: #000000; 
	font-family: verdana,arial, helvetica, sans-serif;	
	width: 98%;
}

.navigator TD {
	border-left: 1px solid #B4B4B4;
	border-top: 1px solid #B4B4B4;
	padding: 3px;
}

.nav_header {
	text-align : center;
	border-left: 1px solid #B4B4B4;
	border-top: 1px solid #B4B4B4;
	border-right: 1px solid #B4B4B4;
	border-bottom: 1px solid #B4B4B4;
	font-weight : bold;
}

.nav_header_sortable {
	text-align : center;
	border-left: 1px solid #B4B4B4;
	border-top: 1px solid #B4B4B4;
	border-right: 1px solid #B4B4B4;
	border-bottom: 1px solid #B4B4B4;
	font-weight : bold;
	cursor:pointer;
}

.solutionInfo td { 
  border:0; 

   font-size: 10pt; 
   font-family: verdana,arial, helvetica, sans-serif;	

 }
	
.element .inputfield {
  width:70%;
}

.help {
  color:#999999;
  text-align : justify;
  FONT-SIZE: 10px;
  FONT-FAMILY: verdana,arial, helvetica, sans-serif;
}


.assignment {
	border-bottom: 1px solid #B4B4B4;
	background-color : #FFFFFF;
        font-size: 10pt; 
	color: #000000; 
	font-family: verdana,arial, helvetica, sans-serif;	
	width: 98%;
}

.assignment TD {
	border-left: 1px solid #B4B4B4;
	border-top: 1px solid #B4B4B4;
	padding: 3px;
}

.assign2 {
   font-size: 10pt; 
   font-family: verdana,arial, helvetica, sans-serif;	
}

.assign2 TD {

	border:none;
}

.criteria  {
   font-size: 10pt; 
   font-family: verdana,arial, helvetica, sans-serif;	

}

.criteria TD { border:none; }

.course_monitor TD {
  font-size: 8pt; 
  font-family: tahoma, arial;	
  text-align : left;
}

.ioi_detail_monitor TD {
  font-size: 8pt; 
  font-family: tahoma, arial;	
  text-align : center;
}

.ioi_monitor TD {
  font-size: 8pt; 
  font-family: tahoma, arial;
  text-align : center;
}

.acm_monitor TD { text-align:center;font-size: 10pt; font-family: tahoma, arial; }

.acm_monitor TD.al {
  font-size: 10pt; 
  font-family: tahoma, arial;
  text-align:left;
}

.acm_monitor TD.ar {
  font-size: 10pt; 
  font-family: tahoma, arial;
  text-align:right;
}

a.regular {
      padding: 0 0 0 7px; background: url(../../img/link.gif) 0 5px no-repeat;	text-decoration: underline;
}

.iprinter {
	font-family: Verdana, Sans-Serif;
	font-size: 10pt;
}